.banner{
    background-image: url('https://res.cloudinary.com/dmddi5ncx/image/upload/v1710868812/practicas/site_montain/shutterstock_116403520_e3nbz8.jpg');
    height: 400px;
    /** cover **/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -100px;
}

footer{
    background: #535353;
}

@media(max-width: 576px){
    .banner{
        height: 150px;
        background-position: center -50px;
    }
}